:root {
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --primary-color: #ED2B91;
    --sub-color: #6A39AF;
    
    --header-color-0: #37075d;
    --header-color-1: #282828;
    --header-color-2: #061D50;
    --header-color-3: #E7DFDD;
    --header-color-4: #B2D8DB;
    --header-color-5: #F9DBDB;
    --header-color-6: #BAB8C3;
    --header-color-7: #FFFFFF;

    --option-color-0: #816399;
    --option-color-1: #787878;
    --option-color-2: #637191;
    --option-color-3: #E5E2E0;
    --option-color-4: #D9ECEE;
    --option-color-5: #EEE0DC;
    --option-color-6: #C9C8CF;
    --option-color-7: #FFFFFF;

    --sidebar-bg: rgba(255, 255, 255, 0.05);
    --active-color: rgba(255, 255, 255, 0.1);
    --blur-color: rgba(255, 255, 255, 0.5);

    --side-padding: 28px;
    --next-song-width: 329px;
    --next-song-width-laptop: 250px;
    --sidebar-width: 269px;
    --music-control-height: 90px;
    --header-height: 70px;
    --search-width: 540px;
    --search-height: 40px;
    --profile-height: 180px;
}

* {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

span {
    display: block;
}
ul {
    list-style: none;
    padding-left: 0;
}

::-webkit-scrollbar {
    width: 4px;
}

.btn {
    height: 28px;
    font-size: 1.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 13px;
    font-weight: 300;
    cursor: pointer;
    text-transform: uppercase;
    margin-left: 14px;
}

.padding-left-right-12 {
    padding: 0 12px;
}

button, input, optgroup, select, textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}

.hover:hover {
    opacity: 0.8;
    cursor: pointer;
}

.icon-hover:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.hiden {
    display: none;
}

@keyframes slideInLeft {
    from {
        opacity: 0;
        transform: translateX(calc(100% + 32px));
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}